.os-form {
  max-width: 560px;
  display: flex;
  flex-direction: column;

  h1 {
    margin: 0 0 24px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__acoes {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    margin-top: 16px;
  }
}
