<div class="sidebar">
  <div class="sidebar__brand">
    <mat-icon>ac_unit</mat-icon>
    <span>ClimaService</span>
  </div>

  <mat-nav-list class="sidebar__nav">
    @for (item of navItems; track item.path) {
      <a
        mat-list-item
        [routerLink]="item.path"
        routerLinkActive="sidebar__link--active"
        (click)="navigated.emit()"
      >
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        <span matListItemTitle>{{ item.label }}</span>
      </a>
    }
  </mat-nav-list>
</div>
